# Import Data and SQL

In [2]:
import sqlite3
conn = sqlite3.connect('Northwind_small.sqlite')
c = conn.cursor()

# Touch up Basic Skills

In [3]:
c.execute("""SELECT ContactName FROM Customer LIMIT 5;""")
c.fetchall()

[('Maria Anders',),
 ('Ana Trujillo',),
 ('Antonio Moreno',),
 ('Thomas Hardy',),
 ('Christina Berglund',)]

In [4]:
#Create a table from a Query
c.execute("""CREATE TABLE Person
             (PersonId int,
              Name varchar(255),
              City varchar(255))""").fetchall()

OperationalError: table Person already exists

In [7]:
c.execute("""INSERT INTO Person VALUES ('25', 'Jimmy Bo', 'Fruita')""").fetchall()

[]

In [8]:
c.execute("""SELECT * FROM Person""").fetchall()

[(25, 'Jimmy Bo', 'Fruita'), (25, 'Jimmy Bo', 'Fruita')]

In [ ]:
#If you run the command multiple times, the table updates multiple times

In [15]:
c.execute("""SELECT PersonID, Name, City, COUNT(*) AS CNT FROM Person
             GROUP BY PersonID, Name, City HAVING COUNT(*)>1""").fetchall()

[(25, 'Jimmy Bo', 'Fruita', 2)]

In [17]:
c.execute("""SELECT * FROM Person
             WHERE PersonID NOT IN(
             SELECT MAX(PersonID) FROM Person)
             GROUP BY Name, City""").fetchall()

[]

In [20]:
c.execute("""DELETE FROM Person
             WHERE PersonID NOT IN(
             SELECT MAX(PersonID) as MaxRecordId
             FROM Person
             GROUP BY Name, City)""").fetchall()

[]

In [21]:
c.execute("""SELECT * FROM Person""").fetchall()

[(25, 'Jimmy Bo', 'Fruita'), (25, 'Jimmy Bo', 'Fruita')]

In [ ]:
#Attempt to delete using a cte